<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <appSettings>
    <add key="FetchIntervalInSeconds" value="300" />
    <add key="OutputFile" value="C:\Temp\Output.csv" />
    <add key="Url" value="https://www.boulderwelt-frankfurt.de/" />
    <add key="Delimiter" value=";" />
  </appSettings>
</configuration>